<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief" id="blogs">
    <div class="container subpage">
    	<div class="row">
            <div class="col-md-3">
                <div id="blogs-search">
                    <div class="search-heading">
                        <form action="/blog/search/name" method="POST" id="search-form">
                            <div class="input-group">
                              <input id="search-txt" type="text" name="keyword" class="form-control" placeholder="Search the blog" value="<%= (typeof keyword !== 'undefined') ? keyword : ''%>">
                              <span class="input-group-addon" onclick="searchBlog()">
                                <i class="fa fa-search"></i>
                              </span>
                            </div>
                        </form>
                    </div>
                    <div class="search-body">
                        <div class="category">
                            <div><b>ARCHIVE</b></div>
                            <% if(typeof archive == 'undefined'){ %>
                                <% var archive = ''; %>
                            <% } %>
                            <% months.forEach(function(t, i){ %>
                                <div class="<%= (archive == (i + 1)) ? 'active' : '' %>">
                                    <a href="/blog/search/archive/<%= (i + 1) %>"><%= t %></a>
                                </div>
                            <% }) %>
                        </div>
                        <div class="category">
                            <div><b>TAGS</b></div>
                            <% if(typeof tag == 'undefined'){ %>
                                <% var tag = ''; %>
                            <% } %>
                            <% tags.forEach(function(t){ %>
                                <div class="<%= (tag == t.id) ? 'active' : '' %>">
                                    <a href="/blog/search/tag/<%= t.id %>"><%= t.get('name') %></a>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-9'> 
                <% blogs.forEach(function(blog){ %>
                    <div class="item">
                		<h2 class="blog-title"><%= blog.get('title') %></h2>
                		<h4><%= formatTime(blog.get('postedAt').toDateString(), 'MM.DD.YY') %></h4>
                        <% if(blog.get('image')){ %>
            			     <p><img src="<%= blog.get('image')._url %>"></p>
                        <% } %>
                        <p><%= blog.get('summary') %></p>
            			<div class="read-more">
            				<a class="" href="<%= blog.get('slug') %>">Read More →</a>
            			</div>
                    </div>
                <% }) %>
                
      	     </div>
    	</div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>