<div class="row">
    <div class="col-md-3">
        <select class="dash-option">
            <option>Price</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="dash-option">
            <option>Timeframe</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="dash-option">
            <option>Distance</option>
        </select>
    </div>
    <div class="col-md-3">
        <form id="search-matches-form">
            <input type="text" class="dash-option" placeholder="Search"/>
            <i class="fa fa-search"></i>
        </form>
    </div>
</div>

<% if(agentChosenList.length > 0){ %>
<div class="row">
    <div class="col-md-12">
        <h3>Agent Chosen!</h3>
    </div>
    <% agentChosenList.forEach(function(agent){ %>
    
    <div class="col-md-12 matches-item">
        <div class="col-lg-2">
            <div class="avatar">
                <% if(agent.image){ %>
                <img src="<%= agent.iamge.url %>"/>
                <% } else { %>
                <i class="fa fa-user"></i>
                <% } %>
                
                <a href="#review-agent" class="btn review-agent-button" data-toggle="modal" data-target="#review-agent">REVIEW</a>
            </div>
        </div>
        <div class="col-lg-3 description">
            <div class="rate">
                <% var rate = agent.rate || 0 %>
                <% for(var i=0; i<rate; i++) { %>
                    <i class="fa fa-star"></i>
                <% } %>
                <% for(var j=rate; j<5; j++) { %>
                    <i class="fa fa-star-o"></i>
                <% } %>
            </div>
            <div class="full-name"><%= (agent.firstName || '') + ' ' + (agent.lastName || '') %></div>
            <div class="address"><%= agent.address || '' %></div>
            <div class="exp"><%= (agent.experience || 0) + ' years experience'%></div>
        </div>
        <div class="col-lg-3">
            <div class="progess">
                <div style="width: <%= agent.matched%>%;"><%= ' ' + agent.matched + '%' %></div>
            </div>
            <a href="#" class="connect-linkedin">Connect with LinkedIn to view Share Connections</a>
        </div>
        <div class="col-lg-2">
            <button class="btn chat-btn accepted">CHAT</button>
        </div>
        <div class="col-lg-2">
            <a href="#" class="btn next-btn" disabled><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <% }) %>
</div>
<% } %>

<% if(agentSentProposalList.length > 0){ %>
<div class="row">
    <div class="col-md-12">
        <h3>Proposals Received:</h3>
    </div>
    <% agentSentProposalList.forEach(function(agent){ %>
    
    <div class="col-md-12 matches-item">
        <div class="col-lg-2">
            <div class="avatar">
                <% if(agent.image){ %>
                <img src="<%= agent.iamge.url %>"/>
                <% } else { %>
                <i class="fa fa-user"></i>
                <% } %>
                
                <!--a href="#review-agent" class="btn review-agent-button" data-toggle="modal" data-target="#review-agent">REVIEW</a-->
            </div>
        </div>
        <div class="col-lg-3 description">
            <div class="rate">
                <% var rate = agent.rate || 0 %>
                <% for(var i=0; i<rate; i++) { %>
                    <i class="fa fa-star"></i>
                <% } %>
                <% for(var j=rate; j<5; j++) { %>
                    <i class="fa fa-star-o"></i>
                <% } %>
            </div>
            <div class="full-name"><%= (agent.firstName || '') + ' ' + (agent.lastName || '') %></div>
            <div class="address"><%= agent.address || '' %></div>
            <div class="exp"><%= (agent.experience || 0) + ' years experience'%></div>
        </div>
        <div class="col-lg-3">
            <div class="progess">
                <div style="width: <%= agent.matched%>%;"><%= ' ' + agent.matched + '%' %></div>
            </div>
            <a href="#" class="connect-linkedin">Connect with LinkedIn to view Share Connections</a>
        </div>
        <div class="col-lg-2">
            <button class="btn proposal" onclick="viewProposal('<%= agent.objectId %>')">View Proposals</button>
        </div>
        <div class="col-lg-2">
            <a href="#" class="btn next-btn" disabled><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <% }) %>
</div>
<% } %>

<div class="row">
    <div class="col-md-12">
        <h3>Agents you've matched with:</h3>
    </div>
    
    <% agents.forEach(function(agent){ %>
    
    <div class="col-md-12 matches-item">
        <div class="col-lg-2">
            <div class="avatar">
                <% if(agent.image){ %>
                <img src="<%= agent.iamge.url %>"/>
                <% } else { %>
                <i class="fa fa-user"></i>
                <% } %>
            </div>
        </div>
        <div class="col-lg-3 description">
            <div class="rate">
                <% var rate = agent.rate || 0 %>
                <% for(var i=0; i<rate; i++) { %>
                    <i class="fa fa-star"></i>
                <% } %>
                <% for(var j=rate; j<5; j++) { %>
                    <i class="fa fa-star-o"></i>
                <% } %>
            </div>
            <div class="full-name"><%= (agent.firstName || '') + ' ' + (agent.lastName || '') %></div>
            <div class="address"><%= agent.address || '' %></div>
            <div class="exp"><%= (agent.experience || 0) + ' years experience'%></div>
        </div>
        <div class="col-lg-3">
            <div class="progess">
                <div style="width: <%= agent.matched%>%;"><%= ' ' + agent.matched + '%' %></div>
            </div>
            <a href="#" class="connect-linkedin">Connect with LinkedIn to view Share Connections</a>
        </div>
        <div class="col-lg-2">
            <% if(!agent.tappedBy || agent.tappedBy.indexOf(user.id) == -1) { %>
                <button class="btn tap" onclick="tapAgent('<%= agent.objectId %>')">Tap</button>
            <% } else if(agent.tappedBy.indexOf(user.id) != -1){ %>
                <button class="btn tapped">Tapped</button>
            <% } %>
        </div>
        <div class="col-lg-2">
            <a href="#" class="btn next-btn" disabled><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <% }) %>
</div>

<!-- Modal -->
<div class="modal fade view-modal" id="view-proposal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
        <div class="row">
            <div class="col-lg-12">
                <h3 class="modal-heading">Proposal from <span class="agent-name"></span></h3>
                <div class="modal-avatar">
                    <img src="http://www.iconsdb.com/icons/preview/gray/manager-xxl.png" width="90">
                    <div class="summary">
                        <span class="submitted-date">
                            Submitted on 09/23/14
                        </span>
                        <br />
                        <span class="expected-date">Expected Response by 10/16/14</span>
                    </div>
                </div>
                <p class="comment"></p>
                </p>
                <br />
                <div class="agent-firstname"></div>
                <br />
                <a href="#" target="_blank" id="proposal-file" class="btn standard-button view-proposal-button">
                    <i class="fa fa-download"></i>
                    VIEW PROPOSAL
                </a>
                <br /><br />
            </div>
            
            <div class="row">
                <div class="col-lg-12 footer-buttons">
                    <div class="col-sm-4">
                        <div class="btn standard-button pass-button">
                            <i class="fa fa-times-circle"></i>
                            PASS
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn standard-button chat-button">
                            <i class="fa fa-comment"></i>
                            CHAT
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn standard-button select-button" data-agent-id="" onclick="chosenAgent()">
                            <i class="fa fa-check"></i>
                            SELECT
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade view-modal" id="review-agent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
        <div class="row">
            <div class="col-lg-12">
                <h3 class="modal-heading">Review Doug Bend</h3>
                <div class="modal-avatar">
                    <img src="http://www.iconsdb.com/icons/preview/gray/manager-xxl.png" width="90">
                    <div class="summary">
                        Our of 5 stars, how would you rate your overall experience with Doug Bend?
                        <div class="rate">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <p class="description">
                    Please provide additional comments on your experience with Doug Bend:
                </p>
                
                <form action="" method="POST">
                    <input type="hidden" name="agent_id" value=""/>
                    <textarea class="form-control" name="comment" placeholder="Type comments here"></textarea>
                    <br />
                    <button type="submit" class="btn standard-button view-proposal-button">
                        <i class="fa fa-download"></i>
                        SUBMIT REVIEW
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>