<div class="col-lg-12">
    <div class="col-md-8">
        <h3 class="title">Build our your profile to improve your matches</h3>
        <form rel="form" method="POST" id="dash_qs_form">
            <% var timeHaveAgent = user.get('timeHaveAgent') || 5 %>
            <% var timeCloseDeal = user.get('timeCloseDeal') || 5 %>
            <% var haveEthicComplaint = user.get('haveEthicComplaint') || 0 %>
            
            <div class="form-group">
                <label>How long have you been a real estate agent?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_have_agent" value="5" <%= (timeHaveAgent == 5) ? 'checked' : '' %>> 5 years or less
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_have_agent" value="10" <%= (timeHaveAgent == 10) ? 'checked' : '' %>> 5 - 10 years</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_have_agent" value="20" <%= (timeHaveAgent == 20) ? 'checked' : '' %>> 10 - 20 years</label>
                </div>
            </div>
            <div class="form-group">
                <label>How many deals have you closed in the previous 12 months?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_close_deal" value="5" <%= (timeCloseDeal == 5) ? 'checked' : '' %>> 1 - 5
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_close_deal" value="10" <%= (timeCloseDeal == 10) ? 'checked' : '' %>> 5 - 10</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="time_close_deal" value="20" <%= (timeCloseDeal == 20) ? 'checked' : '' %>> 10 or more</label>
                </div>
            </div>
            <div class="form-group">
                <label>Have any ethics complaints been filed against you with the ethics board?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="have_ethic_complaint" value="1" <%= (haveEthicComplaint == 1) ? 'checked' : '' %>> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="have_ethic_complaint" value="0" <%= (haveEthicComplaint == 0) ? 'checked' : '' %>> No</label>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="describe_complaint"
                    placeholder="Please describe the nature of the complaint and you resolved it"><%= user.get('describeComplaint') || '' %></textarea>
            </div>
            <div class="form-group">
                <label>Describe your approach to real estate business (be sure to mention 
                specialties such as selling, staging, buying, etc.)</label>
                <textarea class="form-control" rows="3" name="describe_approach"><%= user.get('describeApproach') || '' %></textarea>
            </div>
            <div class="form-group align-center">
                <a class="btn standard-nocolor-button" onclick="clearForm('#dash_qs_form')">Clear form</a>
                <button type="button" onclick="updateProfileQuestion()" class="btn btn-default standard-button">Next</button>
            </div>
        </form>
    </div>
</div>