<div class="col-lg-12">
    <div class="col-md-8">
        <h3 class="title">Build our your profile to improve your matches</h3>
        <form rel="form" method="POST" id="dash_qs_form">
            <% var language = user.get('language') || 'en' %>
            <% var loan = user.get('loan') || 0 %>
            <% var importantTargetArea = user.get('importantTargetArea') || 1 %>
            <% var importantPriceRange = user.get('importantPriceRange') || 1 %>
            <% var importantComplaint = user.get('importantComplaint') || 1 %>
            <% var buyingProperty = user.get('buyingProperty') || [] %>
            <% var featuresRequired = user.get('featuresRequired') || [] %>
            <% var firstTimeUser = user.get('firstTimeUser') || 1 %>
            <% var licenceAgent = user.get('licenceAgent') || [] %>
            <% var minDealClosed = user.get('minDealClosedAgent') || [] %>
            
            <div class="form-group">
                <label>Is english your second language?  If yes, what language(s) 
                    do you require to discuss transacting in real estate?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="en" <%= (language == 'en') ? 'checked' : '' %> > English is my first language
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="es" <%= (language == 'es') ? 'checked' : '' %>> Spanish</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="fr" <%= (language == 'fr') ? 'checked' : '' %>> French</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="cmn" <%= (language == 'cmn') ? 'checked' : '' %>> Mandarin</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="ja" <%= (language == 'ja') ? 'checked' : '' %>> Japanese</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="de" <%= (language == 'de') ? 'checked' : '' %>> German</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="language" value="other" <%= (language == 'other') ? 'checked' : '' %>> Other</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Have you been pre-approved for a loan with a bank or mortgage broker?</label>
                    
                <div class="radio">
                    <label>
                        <input type="radio" name="loan" value="1" <%= (loan == 1) ? 'checked' : '' %>> 
                        less than $500,000
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan" value="2" <%= (loan == 2) ? 'checked' : '' %>> 
                        $500,000 to $750,000</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan" value="3" <%= (loan == 3) ? 'checked' : '' %>> 
                        $750,000 to $1,000,000
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan" value="4" <%= (loan == 4) ? 'checked' : '' %>> 
                        $1,000,000 to $5,000,000</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan" value="5" <%= (loan == 5) ? 'checked' : '' %>> 
                        over $5,000,000</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>How important is it that your realtor has 
                    purchased properties in your target area?</label>
                    
                <div class="radio">
                    <label>
                        <input type="radio" name="important_target_area" value="1" <%= (importantTargetArea == 1) ? 'checked' : '' %>> 
                        Not relevant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_target_area" value="2" <%= (importantTargetArea == 2) ? 'checked' : '' %>> 
                        Somewhat relevant</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_target_area" value="31" <%= (importantTargetArea == 3) ? 'checked' : '' %>> 
                        Very relevant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_target_area" value="4" <%= (importantTargetArea == 4) ? 'checked' : '' %>> 
                        Deal breaker</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>How important is it that your realtor has purchased properties in your price range?</label>
                
                <div class="radio">
                    <label>
                        <input type="radio" name="important_price_range" value="1" <%= (importantPriceRange == 1) ? 'checked' : '' %>> 
                        Not relevant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_price_range" value="0" <%= (importantPriceRange == 0) ? 'checked' : '' %>> 
                        Somewhat relevant</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_price_range" value="0" <%= (importantPriceRange == 0) ? 'checked' : '' %>> 
                        Very relevant</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>How important is it to you that your agent has not had any ethics complaints 
                    filed against them with a real estate ethics board?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_complaint" value="1" <%= (importantComplaint == 1) ? 'checked' : '' %>> 
                        Not relevant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_complaint" value="2" <%= (importantComplaint == 2) ? 'checked' : '' %>> 
                        Somewhat relevant</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_complaint" value="31" <%= (importantComplaint == 3) ? 'checked' : '' %>> 
                        Very relevant
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="important_complaint" value="4" <%= (importantComplaint == 4) ? 'checked' : '' %>> 
                        Deal breaker</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>What are your goals for buying this property?</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="1" <%= (buyingProperty.indexOf('1') != -1) ? 'checked' : '' %>> 
                        Appreciation of property value
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="2" <%= (buyingProperty.indexOf('2') != -1) ? 'checked' : '' %>> 
                        Build equity
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="3" <%= (buyingProperty.indexOf('3') != -1) ? 'checked' : '' %>> 
                        Convenience
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="4" <%= (buyingProperty.indexOf('4') != -1) ? 'checked' : '' %>> 
                        Downsizing from my current home
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="5" <%= (buyingProperty.indexOf('5') != -1) ? 'checked' : '' %>> 
                        Lifestyle
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="6" <%= (buyingProperty.indexOf('6') != -1) ? 'checked' : '' %>> 
                        Low condo maintenance fees
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="7" <%= (buyingProperty.indexOf('7') != -1) ? 'checked' : '' %>> 
                        Pride of ownership
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="8" <%= (buyingProperty.indexOf('8') != -1) ? 'checked' : '' %>> 
                        Roots for family
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="9" <%= (buyingProperty.indexOf('9') != -1) ? 'checked' : '' %>> 
                        Tax benefits
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="10" <%= (buyingProperty.indexOf('10') != -1) ? 'checked' : '' %>> 
                        Low condo maintenance fees
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="buying_property" value="11" <%= (buyingProperty.indexOf('11') != -1) ? 'checked' : '' %>> 
                        Other - fill in the blank
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label>What are the most important features required in your selection of a property?</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="1" <%= (featuresRequired.indexOf('1') != -1) ? 'checked' : '' %>> Lifestyle
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="2" <%= (featuresRequired.indexOf('2') != -1) ? 'checked' : '' %>> Location
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="3" <%= (featuresRequired.indexOf('3') != -1) ? 'checked' : '' %>> Price
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="4" <%= (featuresRequired.indexOf('4') != -1) ? 'checked' : '' %>> Public Transportation
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="5" <%= (featuresRequired.indexOf('5') != -1) ? 'checked' : '' %>> Schools
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="6" <%= (featuresRequired.indexOf('6') != -1) ? 'checked' : '' %>> Security
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="features_required" value="7" <%= (featuresRequired.indexOf('7') != -1) ? 'checked' : '' %>> Other
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label>What do you want to accomplish with this move?</label>
                <input type="text" class="form-control" name="accomplish" value="<%= user.get('accomplish') || '' %>" />
            </div>
            
            <div class="form-group">
                <label>Are your a first-time buyer?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="first_time_user" value="1" <%= (firstTimeUser == 1) ? 'checked' : '' %>> 
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="first_time_user" value="0" <%= (firstTimeUser == 0) ? 'checked' : '' %>> 
                        No</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Would you be willing to work with an agent who has been licensed for:</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="licence_agent" value="1" <%= (licenceAgent.indexOf('1') != -1) ? 'checked' : '' %>> 
                        less than two years
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="licence_agent" value="2" <%= (licenceAgent.indexOf('2') != -1) ? 'checked' : '' %>> 
                        2-5 years</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="licence_agent" value="3" <%= (licenceAgent.indexOf('3') != -1) ? 'checked' : '' %>> 
                        5 or more years</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Would you be willing to work with an agent who has closed a minimum of:</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_deal_closed" value="1" <%= (minDealClosed.indexOf('1') != -1) ? 'checked' : '' %>> 
                        0 to 5 deals in the last year
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_deal_closed" value="2" <%= (minDealClosed.indexOf('2') != -1) ? 'checked' : '' %>> 
                        5 - 10 deals in the last year</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_deal_closed" value="3" <%= (minDealClosed.indexOf('3') != -1) ? 'checked' : '' %>> 
                        10 - 20 deals in the last year</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_deal_closed" value="4" <%= (minDealClosed.indexOf('4') != -1) ? 'checked' : '' %>> 
                        20 or more deals in the last year</label>
                </div>
            </div>
            <div class="form-group align-center">
                <a class="btn standard-nocolor-button" onclick="clearForm('#dash_qs_form')">Clear form</a>
                <button type="button" onclick="updateProfileQuestion()" class="btn btn-default standard-button">Next</button>
            </div>
        </form>
    </div>
</div>